* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Noto Sans", sans-serif;
}
.container {
    width: 80%; 
    margin: auto;
}
.section-padding {
    padding: 40px 0;
}
.special-header {
    text-align: center;
    padding-bottom: 30px;
}
.special-header h2 {
    font-size: 30px;
    padding-bottom: 10px;
    text-transform: capitalize;
}
.special-header span {
    display: block;
    margin: auto;
    background-color: #e53637;
    width: 100px;
    height: 2px;
    transition: 0.5s;
}
.special-header:hover span {
    width: 160px;       
}
.list-unstyled {
    list-style: none;
}
a {
    text-decoration: none;
}
/* Start Header */
.header-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}
.logo img {
    width: 130px;
    height: 90px;
    margin-top: 10px;
}
.header-content nav {
    flex: 3;
    text-align: center;
}
.header-content ul li {
    display: inline-block;
}
.header-content ul li a {
    color: #000;
}
.header-content nav ul li .link-item {
    padding: 10px 19px;
    font-weight: bold;
    font-size: 18px;
    text-transform: capitalize;
    position: relative;
    display: block;
}
.header-content nav ul li .link-item:hover { 
    color: #e53637;
}
.header-content .login ul li .header-icon {
    font-size: 30px;
    font-weight: 900;
    padding: 12px;
}
.header-content .login ul li .cart-icon {
    font-size: 30px;
    font-weight: 900;
    padding: 5px;
}
.header-content .login ul li span {
    border-radius: 50%;
    padding: 1px 6px;
    margin-right: 5px;
    background-color: #e53637;
    color: #fff;
}
.header-content .login ul li:hover i {
    color: #e53637;
}
.dropdown{
    position: relative;
}
.dropdown-menu {
    display: flex;
    position: absolute;
    width: 400px;
    border: 2px solid #e53637;
    background-color: #fff;
    padding: 15px;
    margin-top: 5px;
    transition: 0.1s;
    transform: scale(0);
    visibility: hidden;
    z-index: 10;
}
.table {
    display: flex;
    flex-direction: column;
}
.dropdown:hover .dropdown-menu {
    transform: scale(1);
    visibility: visible;
}
.dropdown-menu ul{
    display: table-cell;    
    text-align: left;
}
.dropdown-menu ul li:first-child a {
    color: #e53637;
    border-bottom: 1px dotted #e53637;
    margin-bottom: 10px;
    text-transform: capitalize;
}
.dropdown-menu ul li {
    line-height: 1.7;
}
/* End Header */

/* Start main */
.main-content {
    width: 100%;
    height: 600px;
    background-image: url(../images/hero-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.main-content .main-text {
    position: absolute;
    top: 30%;
    left: 10%;
}
.main-content .main-text h2 {
    font-size: 50px;
    font-weight: 800;
    padding: 15px 0;
}
.main-content .main-text button {
    margin-top: 35px;
    padding: 12px;
    width: 140px;
    font-size: 17px;
    color: #fff;
    background-color: #e53637;
    border: 1px solid #fff;
    cursor: pointer;
}
.main-content .main-text button:hover {
    opacity: 0.8;   
}
/* End main */

/* Start category */
.category-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: center; */
}
.category-items .category-item {
    transition: 2s;
}
.category-image {
    width: 285px;
    height: 300px;
}
.category-image img {
    width: 100%;
}
.category-text h3 {
    color: #e53637;
    font-size: 16px;
}
.category-text h4 {
    display: inline;
    padding-right: 60px;
}
.category-text i {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 5px;
    font-size: 20px;
    background-color: #e53637;
    color: #fff;
    visibility: hidden;
    opacity: 0; 
}
.category-item:hover .category-text i {
    visibility: visible;
    opacity: 1;
    transition: 1.5s;
}
/* End category */

/* Start discount */
.discount {
    padding-top: 30px;
}
.discount .discount-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
} 
.discount-desc {
    flex: 2;
    background-color: #f7f3ef;
    padding: 15px 20px;
    position: relative;
}
.discount-desc .top {
    position: relative;
    margin-bottom: 20px;
}
.discount-desc .top .icon {
    position: absolute;
    color: #e53637;
    font-size: 65px;
    line-height: 45px;
}
.discount-desc .top h2 {
    padding-left: 60px;
}
.discount-desc .top span {
    display: inline-block;
    padding-left: 60px;
}
.discount-desc p {
    line-height: 1.6;
    font-size: 17px;
} 
.discount-desc .lines { 
    text-align: right;
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.discount-desc .lines span {
    display: inline-block;
    width: 50px;
    height: 2px;
    background-color: #e53637;
    margin-left: 12px;
}
.discount-item1 , .discount-item2 {
    width: 200px;
    height: 300px;
    flex: 1;
    background-color: #f8f8f8;
    margin-left: 20px;
    transition: 0.5s;
}
.discount-item1 {
    background-image: url(../images/shop1.jpg);
    background-size: cover;
}
.discount-item2 {
    background-image: url(../images/shop2.avif);
    background-size: cover;
}
.discount-item1:hover , .discount-item2:hover{
    transform: scale(1.1);
}
.discount-item1 .discount-text , .discount-item2 .discount-text {
    padding: 20px;
}
.discount-item1 .discount-text h3 , .discount-item2 .discount-text h3  {
    color: #e53637;
    font-weight: 500;
    font-size: 19px;
}
.discount-item1 .discount-text h2 , .discount-item2 .discount-text h2 {
    font-size: 18px;
}
/* End discount */

/* Start services */
.services {
    display: flex;
    padding-top: 30px;
    margin-bottom: 55px;
}
.service-item {
    flex:1;
    border-right: 1px solid #000;
    text-align: center;
    padding: 10px;
}
.service-item i {
    font-size: 35px;
    color: #000;
    margin-bottom: 10px;
    transition: 0.6s;
}
.service-item h3 {
    font-size: 16px;
    text-transform: capitalize;
    color: #e53637;
}
.service-item span {
    color: #000;
    font-size: 15px;
    text-transform: capitalize;
}
.service-item:hover i {
    color: #e53637;
    transform: rotateX(360deg);
}
.noborder {
    border: none;
}
/* End services */

/* Start featured-products */
.featured-products .products {
    text-align: center;
}
.featured-products .products span {
    margin-right: 25px;
    text-transform: capitalize;
}
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 30px 0px;
}
.card .image-card {
    position: relative;
}
.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transition: 0.2s;
}
.image-card img , .card-overlay img{
    width: 370px;
    height: 450px;
}
.card-overlay .list-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.card-overlay .list-card li {
    padding: 4px;
    background-color: #e53637;
    margin-right: 10px;
    width: 33px;
    height: 33px;
    text-align: center;
    display: inline-block;
}
.card-overlay .list-card i {
    color: #fff;
    font-size: 22px;
}
.card .image-card:hover .card-overlay {
    transform: scaleX(1);
}
.card-info .active {
    color: #e53637;
}
.card-info span {
    display: block;
    padding: 5px 0;
}
.card-info h3 {
    text-transform: capitalize;
}
/* End featured-products */